<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class='login'>
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
    <p style='margin-top: auto; margin-buttom: auto;'>REGISTER</P>
    <div class="actions">
      <%= f.submit "Sign up", class: 'btn' %>
    </div>
  </div>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <% f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-element', placeholder: 'Full name' %>

    <% f.label :image %>
    <%= f.file_field :image %>

    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-element', placeholder: 'Email' %>

    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-element', placeholder: 'Password' %>

<% end %>
