<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.submit "Log in", class: "actions btn btn-primary  w-100 d-block" %>

  <div class="field my-0 py-0">
    <% f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
  </div>

  <div class="field my-0 py-0">
    <% f.label :password, class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %>
  </div>


<% end %>

 <%= link_to "Forgot your password?", new_password_path(resource_name), class: " text-decoration-none my-3 d-block text-center" %><br />
