<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='login'>
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
    <p style='margin-top: auto; margin-buttom: auto;'>LOGIN</P>
    <div class="actions">
      <%= f.submit "Log in", class: 'btn' %>
    </div>
  </div>
  
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-element', placeholder: 'Email' %>

  
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-element', placeholder: 'Password' %>


<% end %>
<div>
 <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'link' %><br />
</div>
