<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= link_to '<', root_path %>
  <div class="actions">
    <%= f.submit "Log in", class: 'btn' %>
  </div>
  
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-element', placeholder: 'Email' %>

  
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-element', placeholder: 'Password' %>

  <% if devise_mapping.rememberable? %>
    
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>

  <% end %>


<% end %>

 <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
