<div id="<%= dom_id category %>", class='item-card' >
  <div class='card-section-1'>
    <%= image_tag "#{category.icon}.png", alt: "category icon", class: 'category-icon' %>
  </div> 
  <p>
    <%= category.name %>
  </p>

  <p class='card-section-2'>
    <%= category.created_at.strftime("%d %B %Y") %>
  </p>

 <div style='text-align: right;'>
    <p>&dollar;&nbsp;<%= calculate_transaction_amount(category) %></p>
  </div> 

</div>
