<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div>
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% form.label :name %>
    <%= form.text_field :name, class: 'form-element', placeholder: 'Name' %>
  </div>

  <div>
      <% form.label :icon, style: "display: block" %>
      <%= form.select :icon, ['default', 'family', 'food', 'sports', 'home', 'travel', 'charity', 'school', 'utilty', 'Phone', 'automobile'], { prompt: "Select an icon for the Category" }, class: "form-select input-field prompt" %>
    </div>

  <div>
    <%= form.hidden_field :author_id, value: current_user.id %>
  </div>

  <div style='margin: 12px; '>
    <%= form.submit 'Create Category', class: 'btn' %>
  </div>
<% end %>
