<div class='login'>
    <%= link_to categories_path do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
    <p style='margin-top: auto; margin-buttom: auto;'>TRANSACTIONS</P>
    <div></div>
    
  </div>

<div class='page-container', style='background-color: white;'>
  <div class='transaction-title'>
    <%= image_tag "#{@category.icon}.png", alt: "category icon", class: 'category-icon' %>
    <h3 class='text-1'><%= @category.name %></h3>
  </div> 

  <p class= ''>Details expenses for <%= @category.name %> so far. <br>
  The total amount for <%= @category.name %> is found below.</p>
  <hr style='padding: 0; marging: 0 !important;'>
    <div id="items" class='trans-container' >
      <% transaction_amount = 0 %>
      <% @transactions.each do |transaction| %>
        <%= render transaction %>
        <% transaction_amount += transaction.amount %>
      <% end %>
    </div>

  <div class='trans-total'>
    <p style='padding: 0; margin: 0;'>TOTAL AMOUNT</p>
    <p  style='padding: 0; margin: 0;'>&dollar;&nbsp;<%= transaction_amount %></p>
  </div>
</div>

<div style='margin: 12px;' >
    <%= link_to "ADD A TRANSACTION", new_transaction_path, class: 'btn btn-submit' %>
</div>

