<div>
  <p class='title'>TRANSACTIONS</p>
</div>

<div class='page-container', style='background-color: white;'>
  <div class='transaction-title'>
    <%= image_tag "#{@category.icon}.png", alt: "category icon", class: 'category-icon' %>
    <h3 class='text-1'><%= @category.name %></h3>
  </div> 

  <p class= ''>Details expenses for <%= @category.name %> for the year.
  The total amount for <%= @category.name %> is at the buttom of the list.</p>
  <hr>
  <div id="items">
    <% transaction_amount = 0 %>
    <% @transactions.each do |transaction| %>
      <%= render transaction %>
      <% transaction_amount += transaction.amount %>
    <% end %>
  </div>
  <div>
    <p>TOTAL AMOUNT</p>
    <p >&dollar;&nbsp;<%= transaction_amount %></p>
  </div>
</div>

<div class= 'empty'></div>

<div class= 'big'>
    <%= link_to "ADD", new_transaction_path, class: '' %>
</div>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
